<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.0" targetFramework="net472" />
  <package id="DapperPlus" version="1.1.0.2" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Z.Dapper.Plus" version="7.2.1" targetFramework="net472" />
</packages>